body.login {
  h1 {
    position: fixed;
    height: 100vh;
    width: 55vw;
    top: 0;
    left: 0;
    z-index: 0;

    a {
      position: absolute;
      width: 100%;
      height: 100vh;
      display: block;
      background-size: auto 90%;
      background-position: center center;
    }
  }

  form {
    box-shadow: none;
    background-color: transparent;
  }

  label {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $font-deco;
    color: $gold;
    margin-top: 3rem;
  }

  #login {
    @include grid(center, center, column);
    background-color: transparentize($grey, 0.86);
    position: fixed;
    width: 50vw;
    height: 100vh;
    right: 0;
    padding: 3rem;

    a {
      color: $navy;

      &:hover {
        color: $gold;
      }
    }
  }

  #loginform {
    width: 100%;
  }

  &.wp-core-ui {
    input:focus {
      box-shadow: none;
      border-color: $gold;
    }

    .button-primary {
      box-shadow: none;
      border-radius: 0;
      text-transform: uppercase;
      padding: 0.5em 1.5em;
      letter-spacing: 0.15ex;
      height: auto;
      background-color: transparent;
      border: 1px solid $copper;
      color: inherit;
      text-shadow: none;
      @include transition();

      &:hover,
      &:focus,
      &:active {
        background-color: transparentize($copper, 0.86);
      }
    }
  }
}
