/**
  Responsive Navigation
  ---------------------------------------------------------------------- */
#responsive-nav-toggle {
  @include hamburgerMenu(1, $navy, 0.6);
  position: relative;
  z-index: 2;

  &.is-active {
    @include transition(all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275));

    &:hover {
      opacity: 0.8;
    }

    .line {
      background-color: $white;
    }
  }
}

#nav-header {
  @include navMenu(vertical);
  @include grid(center, center);
  @include gradient($brown, $peach, 135deg);
  @include transition();
  transform-origin: right;
  position: fixed;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  font-size: 3.5em;
  text-align: center;
  font-weight: $font-light;
  transform: scaleX(0);

  &::before {
    @include transition();
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    right: 100%;
    top: 10vh;
    width: 2.5vw;
    height: 0;
    border: 1px solid $gold;
    border-right: none;
    transition-delay: 400ms;
    transform: scaleX(0);
    transform-origin: right;
  }

  li {
    @include transition(opacity 250ms ease);
    transition-delay: 0ms;
    opacity: 0;
  }

  &.is-active {
    transform: scaleX(1);

    &::before {
      height: 80vh;
      transform: scaleX(1);
    }

    li {
      opacity: 1;

      @for $i from 1 through 8 {
        &:nth-child(#{$i}) {
          transition-delay: #{150ms + (86 * $i)};
        }
      }
    }
  }

  a {
    @include transition(all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275));
    color: $white;

    &:hover {
      opacity: 0.8;
    }
  }
}

#container.nav-active {
  .module,
  #footer {
    @include filter-blur(3px);
    opacity: 0.14;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 768px) {
  #nav-header {
    width: 66.6vw;

    ul li {
      font-size: 0.75em;
      margin: 1em 0;
    }
  }
}

@media (max-width: 650px) {
  #nav-header {
    width: 100%;
    font-size: 2.5em;
  }
}
