/**
  Animation Settings
  ---------------------------------------------------------------------- */
.animate-parallax {
  position: relative;
  overflow: hidden;

  .module-bg {
    position: fixed;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    top: 0;
    left: auto;
    right: auto;
    width: 50vw;

    img {
      display: none;
    }

    &.is-visible {
      opacity: 0.14;
    }
  }
}

.animate-on-enter,
.animate-on-leave {
  @include transition(all 300ms ease-out);
  opacity: 0;
  top: 4rem;

  &.is-visible {
    opacity: 1;
    top: 0;
  }
}

/**
  Parallax Animation
  ---------------------------------------------------------------------- */
.animate-z-subtle .module-bg {
  height: calc(100% + 4rem);
}

.animate-z-normal .module-bg {
  height: calc(100% + 8rem);
}

.animate-z-extreme .module-bg {
  height: calc(150vh + 16rem);
}
