/**
  Animation Settings
  ---------------------------------------------------------------------- */
.animate-parallax {
  position: relative;
  overflow: hidden;

  .module-bg {
    position: fixed;
    z-index: 0;
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    top: 0;
    left: auto;
    right: auto;
    width: 50vw;

    img {
      display: none;
    }

    &.is-visible {
      opacity: 0.14;
    }
  }
}

.animate-on-enter,
.animate-on-leave {
  transition: opacity 666ms ease-out 333ms, transform 1ms linear;
  opacity: 0;

  &.is-visible {
    opacity: 1;
  }
}

/**
  Parallax Animation
  ---------------------------------------------------------------------- */
.animate-z-subtle .module-bg {
  height: calc(100% + 4rem);
}

.animate-z-normal .module-bg {
  height: calc(100% + 8rem);
}

.animate-z-extreme .module-bg {
  height: calc(150vh + 16rem);
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 1024px) {
  .animate-parallax .module-bg {
    background-size: cover;
  }
}

@media(max-width: 768px) {
  .animate-parallax .module-bg {
    background-size: cover;
    background-position: center center;
    width: 100%;
  }

  .animate-z-extreme .module-bg {
    height: 125vh;
  }
}
