$red: #f00;
$blue: #00f;

$white: #fff;
$greyLight: #F2F1EF;
$grey: #A3A3A3;
$black: #454545;
$navy: #2E2E56;
$navyTrans: transparentize($navy, 0.4);
$brown: #79443E;
$peach: #FE9878;
$copper: #BD745D;
$gold: #C6A53A;

@mixin gradient($color1, $color2, $direction) {
  background: linear-gradient($direction, $color1 0%, $color2 100%);
}
