.gallery-wrap {
  @include listStripped();
  @include grid(center, center, row, wrap);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5em;

  li {
    position: relative;
    margin: 0.5em;
    overflow: hidden;
    cursor: hand;
    cursor: pointer;
    background-color: $navy;

    &:hover {
      .gallery-thumb {
        opacity: 0.8;
        transform: scale(1.1);
      }

      .gallery-caption {
        transform: translateY(0);
      }
    }
  }

  img {
    display: block;
    opacity: 0;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }

  .gallery-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    @include transition();
  }

  .gallery-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $navyTrans;
    color: $white;
    font-size: 0.75em;
    line-height: 1.5;
    padding: 0.5em 1em;
    width: 100%;
    transform: translateY(100%);
    @include transition();
  }
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 768px) {
  .gallery-wrap li {
    min-width: calc(25% - 1rem);
  }
}

@media (max-width: 480px) {
  .gallery-wrap li {
    min-width: calc(50% - 1rem);
  }
}
