.modal-parent {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  @include grid(center, center, column);
  transform: translateY(100vh);
  @include transition(all 1s cubic-bezier(0.23, 1, 0.32, 1));

  &.is-active {
    transform: translate(0);
  }
}

.modal-inner {
  position: relative;
  background-color: $white;
  max-width: 66%;
  max-height: 80vh;
  overflow: auto;
  padding: 2vw;
  box-shadow: 0 0 1rem 0 transparentize($copper, 0.9);
}

.modal-matte {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: hand;
  cursor: pointer;
  @include transition();

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(0.75em - 1px);
    left: 5%;
    display: block;
    width: 90%;
    height: 2px;
    background-color: $copper;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    transform: scale(0.9);
    opacity: 0.8;
  }
}

#modal-funnel {
  .modal-inner {
    min-width: 66vw;
  }
}

.funnel-step {
  display: none;

  &.is-active {
    display: block;
  }

  .wpcf7-form {
    @include grid(center, flex-start, row, wrap);
    padding: 0;
    max-width: 960px;
  }

  .funnel-step-text {
    font-size: 0.85em;
    text-align: center;
  }
}

.funnel-data-left,
.funnel-data-right {
  width: 50%;
  padding: 1em;
}

#funnel-step-second {
  iframe {
    width: 100%;
    height: 76vh;
  }
}

#modal-photo {
  .modal-inner {
    width: auto;
    max-width: 80vw;
  }

  img {
    display: block;
    max-height: 66vh;
    width: auto;
    margin: 0 auto;
  }

  .gallery-caption {
    text-align: center;
    padding-top: 0.5em;
    font-size: 1rem;
    font-family: $font-default;
  }

  .work-bg {
    padding-top: 0;
    background-image: none !important;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .modal-inner {
    max-height: 85vh;
    max-width: 80vw;
    padding: 3rem;
  }

  #modal-photo {
    img {
      max-height: calc(85vh - 8rem);
    }
  }
}

@media (max-width: 768px) {
  .modal-inner {
    max-height: 85vh;
    max-width: 80vw;
    padding: 2rem;
  }
}

@media (max-width: 650px) {
  .funnel-step .wpcf7-form {
    @include grid(center, center, column);
  }

  .funnel-data-left, .funnel-data-right {
    width: 100%;
    padding: 0;

    p i {
      display: block;
    }
  }
}

@media (max-width: 480px) {
  .modal-inner {
    max-height: 85vh;
    max-width: calc(100vw - 2rem) !important;
  }
}
