.team-wrap {
  background-color: $navy;
  color: $white;
  padding: 5vw;
}

.team-content {
  max-width: 1200px;
  margin: 0 auto;
}

.team-members {
  @include listStripped();
  @include grid(space-around, flex-start, row, wrap);
  padding-top: 2.5vw;

  img {
    display: block;
    border-radius: 50%;
    @include filter-grayscale(100%);
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    @include transition();
  }

  .name {
    color: $gold;
    text-align: center;
    font-weight: $font-light;
    line-height: 1.5em;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.25ex;

    span {
      display: block;
      color: $peach;
      font-size: 0.85em;
    }
  }

  li {
    position: relative;
    width: calc(33.333% - 4rem);
    margin-bottom: 2em;
    cursor: hand;
    cursor: pointer;

    .team-member-content {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: -5px;
      width: 100%;
      padding-top: 100%;
      background-color: transparentize($copper, 0.66);
      border-radius: 50%;
      border: 5px solid $white;
      @include transition();
    }

    &:hover,
    &:active {
      img {
        @include filter-grayscale(0%);
      }

      &::after {
        background-color: transparentize($copper, 1);
        border-color: $copper;
      }
    }
  }
}

.team-member-head {
  @include grid(center, flex-end);
  border-bottom: 1px solid $black;
}

.team-member-photo,
.team-member-qa,
.team-member-data,
.team-member-bio {
  padding: 4rem;
}

.team-member-photo,
.team-member-qa {
  width: 40%;
}

.team-member-text {
  @include grid();
}

.team-member-data,
.team-member-bio {
  width: 60%;
}

.team-member-photo {
  padding-top: 0;

  img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid $copper;
    max-width: 360px;
    height: auto;
  }
}

.team-member-data {
  h2 {
    border-bottom: 1px solid $black;
    color: $gold;
    letter-spacing: 0.5ex;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: $font-light;
    line-height: 1.5;
  }

  h3 {
    color: $copper;
    text-transform: uppercase;
    font-weight: $font-light;
    line-height: 2;
    letter-spacing: 0.25ex;
    margin-bottom: 0;
  }
}

.team-member-qa {
  @include listStripped();
  padding: 4rem;
  font-size: 1.5em;
  color: $navy;
  text-transform: uppercase;
  letter-spacing: 0.25ex;

  p {
    padding-bottom: 1.5em;
  }

  li:last-child {
    p {
      padding-bottom: 0;
    }
  }
}

.team-member-bio {
  font-size: 1.15em;
}