.module-testimonials {
  padding: 5vw 0;
}

.testimonials-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $navy;
  padding: 3rem;
  color: $white;

  .slick-arrow {
    position: absolute;
    bottom: 1rem;
    background-color: $gold;
    font-size: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    background-size: 1.25rem auto;
    background-repeat: no-repeat;
    background-position: center center;
    @include transition(all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275));

    &.slick-prev { @include icon(arrowLeft); right: 4.25rem; }
    &.slick-next { @include icon(arrowRight); right: 1rem; }

    &:hover {
      opacity: 0.86;
    }
  }
}

.testimonials-mark {
  span {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    height: 2.5rem;
    @include icon(quote);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.testimonial {
  padding: 3rem;
  text-align: center;
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 650px) {
  .testimonial {
    padding: 0 0 2rem 0;
  }
}
