.twocolumn-wrap {
  @include grid(center, stretch);
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;

  .twocolumn-photos {
    margin: 0 3rem 0 0;

    .slick-slide > div > div {
      height: 100%;
    }
  }

  &-reverse {
    @include grid(center, stretch, row-reverse);

    .twocolumn-photos {
      margin: 0 0 0 3rem;
    }
  }
}

.twocolumn-content {
  padding: 5vw 0;
}

.twocolumn-photo {
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  img {
    display: none;
  }
}

/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media(max-width: 768px) {
  .twocolumn-wrap-reverse,
  .twocolumn-wrap-normal {
    @include grid(center, center, column);
  }

  .twocolumn-content {
    width: 100% !important;
    margin: 0;
  }

  .twocolumn-photos {
    width: 100% !important;
    margin: 0 !important;
  }

  .twocolumn-photo {
    background-size: contain;
    height: 40vh;
  }
}
