.blog-header {
  a {
    color: $gold;
  }
}

.blog-single-wrap {
  max-width: 1600px;
  margin: 0 auto;
  @include clearfix();
}

.blog-single-content {
  width: 75%;
  float: left;
  padding: 0 2.5vw 2.5vw 2.5vw;
}

.blog-single-sidebar {
  width: 25%;
  float: right;
  padding: 0 2.5vw;
}


/**
  Responsive Breakpoints
  ---------------------------------------------------------------------- */
@media (max-width: 768px) {
  .blog-single-content,
  .blog-single-sidebar {
    float: none;
    width: 100%;
  }
}