/**
  Configuration Settings & Mixins
  ---------------------------------------------------------------------- */
@import "styles/config/effects";
@import "styles/config/animation";
@import "styles/config/functions";
@import "styles/config/grid";
@import "styles/config/reset";
@import "styles/config/colors";
@import "styles/config/typography";
@import "styles/config/forms";
@import "styles/config/hamburger";
@import "styles/config/icons";

/**
  Global Elements
  ---------------------------------------------------------------------- */
@import "styles/global/base";
@import "styles/global/navigation";
@import "styles/global/header";
@import "styles/global/footer";
@import "styles/global/login";
@import "~slick-carousel/slick/slick";
@import '~nouislider/distribute/nouislider.css';

/**
  Modules
  ---------------------------------------------------------------------- */
@import "styles/modules/modals";
@import "styles/modules/ctas";
@import "styles/modules/contactforms";
@import "styles/modules/headings";
@import "styles/modules/hero";
@import "styles/modules/blockphoto";
@import "styles/modules/linkblocks";
@import "styles/modules/rotatingtext";
@import "styles/modules/twocolumn";
@import "styles/modules/testimonials";
@import "styles/modules/blocks";
@import "styles/modules/contact";
@import "styles/modules/fullwidth";
@import "styles/modules/imagegallery";
@import "styles/modules/icongrid";

/**
  Templates
  ---------------------------------------------------------------------- */
@import "styles/templates/blog-index";
